*.pdf
generate_report.sh
malware.exe_extracted
reporting/__pycache__/
build/
spec/
bin/generate_malware_report.exe
bin/malware.exe
bin/*.pdf
bin/malware_extracted
bin/files
bin/ransomware.exe
bin/hello_world.exe
bin/setup_environment.exe
bin/malware.pyc
bin/metamorphic_ransomware.exe
bin/polymorphic_ransomware.exe
bin/build_ransomware_environment.exe
bin/malware_report.exe
bin/build_ransomware_environment.exe_extracted/
bin/build_ransomware_environment.pyc
bin/metamorphic_ransomware.exe_extracted/
bin/metamorphic_ransomware.pyc
bin/polymorphic_ransomware.exe_extracted/
bin/polymorphic_ransomware.pyc
bin/ransomware.exe_extracted/
bin/ransomware.pyc
malware/helloWorld/
generated-metamorphic/
